:root{
    --primary-color: rgb(0, 73, 36);
    --secondary-color: #00d84c;
    --accent1-color: rgb(51, 255, 122); 
    --accent2-color: #5cffad;
    --primary-font: 'Permanent Marker';
    --secondary-font: 'Roboto';
}

body{
    margin: 0;
    justify-content: center;
    text-align: center;
}

.hero{
    position: relative;
}

.hero h1, article{
    position: absolute;
}

.hero h1{
    bottom: 20rem;
    margin-left: 38rem;
    color: white;
}
.hero article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; /* Espaça os itens */
    gap: 0.5em; /* Espaço entre a imagem e o texto */
    padding: 1em;
    width: 80%;
    bottom: 3rem;
}

.hero article img{
    float: right; /* Remove o float */
    width: 260px;
    height: auto;
    border: 1px solid var(--primary-color);
    border-radius: 0.3em;
    padding: 0.15rem;
}

header {
    display: grid;
    grid-template-columns: 1px 1fr ; /* ou use 'space-around' se quiser mais espaçamento */
    background-color: var(--primary-color);
    font-size: 1.2em;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'Permanent Marker';
    text-shadow: 1px 3px 1px black;
}

header img{
    margin-left: 1em;
    max-height: 100%; /* Para ajustar a altura da imagem ao header */
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.hero .heroimg{
    display: block;
    width: 100%;
    height: auto;   
}


.hero article{
    width: 80%;
    right: 8rem;
    background-color: rgb(51, 255, 122, 0.4);
    border-radius: 0.3em;
}

.adventure{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: nowrap; 
    gap: 20px;
}
 

.adventure img{
    width: 13em;
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.15rem;
}


article p{
    color: white;
}

h1{
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-shadow: 1px 3px 1px black;
}

h2{
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin: 3rem;
    background: rgb(51, 255, 122, 0.1);
    text-shadow: 1px 3px 1px black;
    border-radius: 0.2em;
}
h3{
    font-family: var(--primary-font), sans-serif; 
}

p{
    font-family: var(--secondary-font), sans-serif;
}

figcaption{
    font-family: var(--secondary-font), sans-serif;
}

.history{
    display: flex;
    align-items: center;
}

.history img{
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.15rem;

    margin: 1em;
}


.history p{
    width: 80%;
    text-align: center;
    margin: 1em;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    background-color: rgb(0, 73, 36, 0.3);
    padding: 0.05em;
}

footer p{
    margin-left: 40%;
}

footer a{
    text-decoration: none;
    margin: 0 1em;
}

/* Cantact Us Styles */

.contact, .contactinfo, .employees{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
}

.contact iframe, .formcontact{
    border-radius: 1em;
    border: 1px solid var(--primary-color);
    padding: 0.3em;
    width: 31em;
    height: 35em;
}

.contact iframe{
    background-color: rgb(0, 73, 36, 0.2);
}

.contact .formcontact{
    background-color: rgb(0, 73, 36, 0.2);
    padding: 1em;
}

.contact .formcontact #labelname, #labelemail, #messagelabel{
    display: block;
    margin-right: 70%;
    margin-top: 1em;
}

.contact .formcontact #useremail, #username, #message{
    border-radius: 0.5em;
    width: 80%;
    padding: 0.7em;
    margin: 1em;
}

.contact .formcontact #message{
    border-radius: 0.5em;
    width: 80%;
    height: 17%;
    padding: 0.7em;
    margin: 1em;
}

.contact .formcontact label{
    font-family: var(--secondary-font), sans-serif;
}

.contact .formcontact h4{
    font-family: var(--secondary-font), sans-serif;
    margin: 0.2em;
    font-weight: normal;
}

.contact .formcontact button{
    border-radius: 0.5em;
    width: 30%;
    padding: 0.5em;
    background: #007BFF;
    border: none;
    color: white;
}

.employees img{
    border: 1px solid var(--primary-color);
    padding: 0.3em;
    border-radius: 0.5em;
}

.employees{
    border-bottom: 1px solid var(--primary-color);
}

.employees figcaption{
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.contactinfo a{
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.contactinfo .contactdata{
    display: flex;
}

.contactinfo .contactdata svg{
    width: 1.4rem;
    margin-right: 0.5em;  
    color: var(--primary-color); 
}

footer #wireframe{
    position: absolute;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

/* Trips Styles */

.trititle{
    margin: 3rem;
}

.trip1, .trip2, .trip3{
    border: 2rem;
}

.trip1, .trip3{
    display: flex;
    padding: 3em;
    align-items: center;
}

.trip1 p, .trip3 p{
    padding: 1em;
}

.trip1 img, .trip3 img{
    padding: 1em;
    border: 1px solid var(--primary-color);
}

.mainimg{
    border: 1px solid var(--primary-color);
}
.trip2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    padding: 2em;
}


#mainimg  {
    grid-column: 2; /* A imagem ocupa a segunda coluna */
    justify-self: center; /* Centraliza a imagem na coluna */
    border: 1px solid black;
    padding: 1em;
    border-radius: 0.5em;
}

.stickers {
    grid-column: 3; 
    display: flex; /* Usa flexbox para alinhar os adesivos */
    justify-content: space-evenly; /* Espaça igualmente os adesivos */
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stickers img{
    border-radius: 30rem;
    width: 4em;
}

.table-trips{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.table-trips img{
    align-self: center;
    justify-self: center;
}

table th{
    background-color: rgb(51, 255, 122, 0.1);
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

table td{
    background-color: rgb(51, 255, 122, 0.1);
    font-family: var(--secondary-font);
}

#calltoaction{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    padding: 2em;

}

#calltoaction div{ 
    grid-column: 1; 
    display: flex; /* Usa flexbox para alinhar os adesivos */
    justify-content: center; /* Espaça igualmente os adesivos */
    align-items: center;
    position: absolute;
    bottom: 2.6em;
    width: 100%;
}

#calltoaction div h3{ 
  color: #CF4D26;
  text-shadow: 1px 2px 1px black;
}

/* Index Styles */

#herodiv img{
display: block;
width: 100%;
height: auto; 
}

#herodiv h1{
    position: absolute;
    bottom: 33rem;
    margin-left: 37rem;
    color: white;
}

#mainsection{
    padding: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.herodivimg{
    padding: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 0.4em;
}

.formindex{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 1em;
    width: 50%;
    color: white;
}

.formindex button{
border-radius: 0.5em;
width: 30%;
padding: 0.5em;
background: #CB5127;
border: none;
color: white;
font-family: var(--secondary-font), sans-serif;
}

.formindex label{
    display: block;
    font-family: var(--secondary-font), sans-serif;
    margin-right: 45%;
}

#mainsection h3{
    color: var(--primary-color);
}
.formindex #useremailindex, #usernameindex{
    border-radius: 0.5em;
    width: 50%;
    padding: 0.7em;
    margin: 1em;
}

#formhome{
    display: flex;
    justify-content: center;
    align-items: center;
}