:root{
  --primary-color: steelblue;
  --secondary-color: white;
  --height-default: auto; 
  --font-size: 1rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}
nav a {
  color: var(--secondary-color);
  display: block;
  padding: 20px;
}
h1 {
  color: var(--primary-color);
}
main img {
  width: 150px;
  height: var(--height-default);
  border: 1px solid var(--primary-color);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}
p {
  padding: 0;
}

main{
  max-width: 70em;
}

aside{
  text-align: center;
  position: relative;
}

aside img{
  width: 200px;
  height: var(--height-default);
}

aside h2{
  position: absolute;
  top: 47px;
  left: 150px;
}

footer{
  margin-top: 5rem;
  border-top: 1px solid var(--primary-color);
  text-align: center;
}

/* Class Selectors */

.box{
  width: 23rem;
  margin: var(--font-size);
  padding: var(--font-size);
  border: 1px solid black;
  background-color: #e9e9e9;
  color: black;
}