:root{
  --primary-color: steelblue;
  --secondary-color: white;
  --height-default: auto;
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}
nav a {
  color: var(--secondary-color);
  display: block;
  padding: 20px;
}
h1 {
  color: var(--primary-color);
}
img {
  width: 150px;
  height: var(--height-default);
  border: 1px solid var(--primary-color);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}

main{
  max-width: 70em;
}

aside{
  width: 23rem;
  margin: 2rem;
  border: 5px double #aaa;
  padding: 1em;
  background-color: slategray;
  color: var(--secondary-color);
  text-align: center;
}

aside img{
  width: 200px;
  height: var(--height-default);
}

footer{
  margin-top: 5rem;
  border-top: 1px solid var(--primary-color);
  text-align: center;
}
